body{
    width:1662px;
    height: 3844px;
    margin-left:-0.3px;
    margin-top:-2px;
}

.top-box{
    display:block;
    position: absolute;
    background: url(top-box.png);
    width:1662px;
    height:900px;
} 
.btn-1{
    position:absolute;
    border:none;
    background:url(getapp.png);
    width:140px;
    height:42px;
    right:346px;
    padding-top:6px;
    padding-right:-3px;
    margin-top: 28px;
}
.ftapp{
    position: absolute;
    left:246px;
    margin-top: 32px;
    height: 38px;
    width: 133px;
}
.hdr-btn{
    position: absolute;
    right:546px;
    margin-top:42px;
    
}
.apple1{
    margin-top:267px;

}
.iPhone{
    
    position: absolute;
    left: -230px;
    margin-top:22px;
    z-index:100;
}
.tomato{
    position:absolute;
    margin-top: 267px;
    left: 1430px;
}
.banana{
    position:absolute;
    left: 595px;
    top:109px;
}   
.fruit1{
    position:absolute;
    left:1261px;
    top:636px;
    z-index:10;
}
.icon{
    position: absolute;
    left:198px;
    top: 207px; 
}
.eat{
    position: absolute;
    left:250px;
    top:430px;
}
.txt1{
    position: absolute;
    left:250px;
    top:530px;
}
.clnika{
    position:absolute;
    left:716px;
    top:768px;
}
.download1{
    position:absolute; 
    left: 250px;
    top:660px;

}
.download2{
    position: absolute;
    left: 430px;
    top:660px;

}