body{
    width:100%;
    height: 100%;
    margin-left:-0.3px;
    margin-top:-2px;
}
.header{
    
    height:150px;
    width:100%;
    
}
.box1{
    float:left;
    width:50%;
    height:200px;
    
    margin-top:5px;

}
.box2{
    float:right;
    
    margin-top:5px;
    width:50%;
    height:400px;
    
}
.header-img{
    width:100%;
    height:150px;   
}
 

.btn{
    float: right;
    width:150px;
    height:110px;
    
}   

.btn1{
    clear:left;
    background:url("buynow.png") no-repeat ;
}
.btn2{
    clear:right;

}
